<h1>Myytyjen asuntojen hintatiedot postinumeroalueittain</h1>
<p>Kirjaudu käyttämään asuntojen myyntihintatyökalua laajemmin</p>
<p>Placeholder, kaikkien nähtäville tulevaa tilastointia asuntojen ka-hinnoista postinumeroittain. </p>

Myytyjen asuntojen määrä: {{ count }}
<hr>
{% for apartment in apartments %}
{{ apartment.content }}
<hr>
{% endfor %}

<a href="/new">Lisää myyty asunto</a>

<h1>Kirjaudu</h1>
<form action="/result" method="POST">
    Käyttäjätunnus:
    <input type="text" name="username">
    <br>
    Salasana:
    <input type="text" name="password">
    <br>
    <input type="submit" value="Kirjaudu">
</form>
<br>
<br>
<h1>Rekisteröidy</h1>
<form action="/result" method="POST">
    Etunimi:
    <input type="text" name="firstname">
    <br>
    Sukunimi:
    <input type="text" name="lastname">
    <br>
    Käyttäjätunnus:
    <input type="text" name="username">
    <br>
    Salasana:
    <input type="text" name="password">
    <br>
    Salasana:
    <input type="text" name="password">
    <br>
    <input type="submit" value="Rekisteröidy">
</form>