<h1>Lisää taloyhtiö</h1>
<form action="/create_housing_company" method="POST">
    Taloyhtiön y-tunnus:
    <input type="text" name="company_code">
    <br>
    Katuosoite:
    <input type="text" name="street_address">
    <br>
    Postinumero:
    <input type="text" name="zip_code">
    <br>
    Rakennusvuosi:
    <input type="number" name="construction_year">
    <br>
    Putkiremonttivuosi, viimeisin:
    <input type="number" name="last_pipe_renovation_year">
    <br>
    <input type="submit" value="Tallenna taloyhtiön tiedot">
</form>


